In [2]:
pip install openml

Collecting openml
  Using cached openml-0.14.1-py3-none-any.whl
Collecting liac-arff>=2.4.0 (from openml)
  Using cached liac_arff-2.5.0-py3-none-any.whl
Collecting xmltodict (from openml)
  Using cached xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Requirement already satisfied: requests in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from openml) (2.31.0)
Collecting scikit-learn>=0.18 (from openml)
  Using cached scikit_learn-1.3.2-cp311-cp311-macosx_12_0_arm64.whl (9.4 MB)
Requirement already satisfied: python-dateutil in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from openml) (2.8.2)
Requirement already satisfied: pandas>=1.0.0 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from openml) (2.1.2)
Requirement already satisfied: scipy>=0.13.3 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from openml) (1.11.3)
Requirement already satisfied: numpy>=1.6.2 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from openml) (1.26.1)
Collecting minio (from openml)
  Using cached minio-7.2.0-py3-none-any.whl (83 kB)
Collecting pyarrow (from openml)
  Using cached pyarrow-14.0.1-cp311-cp311-macosx_11_0_arm64.whl (24.0 MB)
Requirement already satisfied: pytz>=2020.1 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from pandas>=1.0.0->openml) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from pandas>=1.0.0->openml) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from python-dateutil->openml) (1.16.0)
Collecting joblib>=1.1.1 (from scikit-learn>=0.18->openml)
  Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn>=0.18->openml)
  Using cached threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Requirement already satisfied: certifi in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from minio->openml) (2023.5.7)
Requirement already satisfied: urllib3 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from minio->openml) (1.26.16)
Requirement already satisfied: argon2-cffi in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from minio->openml) (23.1.0)
Collecting pycryptodome (from minio->openml)
  Using cached pycryptodome-3.19.0-cp35-abi3-macosx_10_9_universal2.whl (2.4 MB)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from requests->openml) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from requests->openml) (3.4)
Requirement already satisfied: argon2-cffi-bindings in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from argon2-cffi->minio->openml) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from argon2-cffi-bindings->argon2-cffi->minio->openml) (1.15.1)
Requirement already satisfied: pycparser in /Users/xonkar/miniconda3/lib/python3.11/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->minio->openml) (2.21)
Installing collected packages: xmltodict, threadpoolctl, pycryptodome, pyarrow, liac-arff, joblib, scikit-learn, minio, openml
Successfully installed joblib-1.3.2 liac-arff-2.5.0 minio-7.2.0 openml-0.14.1 pyarrow-14.0.1 pycryptodome-3.19.0 scikit-learn-1.3.2 threadpoolctl-3.2.0 xmltodict-0.13.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import openml
import pandas as pd

In [32]:
#nashivill 43734
#istanvul 43688
dataset_id = 44989
dataset = openml.datasets.get_dataset(dataset_id)
nashville, *_ = dataset.get_data(target=dataset.default_target_attribute)

/Users/xonkar/miniconda3/lib/python3.11/site-packages/openml/datasets/functions.py:438: FutureWarning: Starting from Version 0.15 `download_data`, `download_qualities`, and `download_features_meta_data` will all be ``False`` instead of ``True`` by default to enable lazy loading. To disable this message until version 0.15 explicitly set `download_data`, `download_qualities`, and `download_features_meta_data` to a bool while calling `get_dataset`.
  warnings.warn(

In [33]:
nashville.head(10)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date_year,date_month,date_day
0,3,1.00,1180.0,5650.0,1.0,0,0,3,7,1180.0,...,1955.0,0.0,98178,47.5112,-122.257,1340.0,5650.0,2014,10,13
1,3,2.25,2570.0,7242.0,2.0,0,0,3,7,2170.0,...,1951.0,1991.0,98125,47.7210,-122.319,1690.0,7639.0,2014,12,9
2,2,1.00,770.0,10000.0,1.0,0,0,3,6,770.0,...,1933.0,0.0,98028,47.7379,-122.233,2720.0,8062.0,2015,2,25
3,4,3.00,1960.0,5000.0,1.0,0,0,5,7,1050.0,...,1965.0,0.0,98136,47.5208,-122.393,1360.0,5000.0,2014,12,9
4,3,2.00,1680.0,8080.0,1.0,0,0,3,8,1680.0,...,1987.0,0.0,98074,47.6168,-122.045,1800.0,7503.0,2015,2,18
5,4,4.50,5420.0,101930.0,1.0,0,0,3,11,3890.0,...,2001.0,0.0,98053,47.6561,-122.005,4760.0,101930.0,2014,5,12
6,3,2.25,1715.0,6819.0,2.0,0,0,3,7,1715.0,...,1995.0,0.0,98003,47.3097,-122.327,2238.0,6819.0,2014,6,27
7,3,1.50,1060.0,9711.0,1.0,0,0,3,7,1060.0,...,1963.0,0.0,98198,47.4095,-122.315,1650.0,9711.0,2015,1,15
8,3,1.00,1780.0,7470.0,1.0,0,0,3,7,1050.0,...,1960.0,0.0,98146,47.5123,-122.337,1780.0,8113.0,2015,4,15
9,3,2.50,1890.0,6560.0,2.0,0,0,3,7,1890.0,...,2003.0,0.0,98038,47.3684,-122.031,2390.0,7570.0,2015,3,12

In [34]:
nashville.describe()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
count,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,47.560053,-122.213896,1986.552492,12768.455652
std,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,0.138564,0.140828,685.391304,27304.179631
min,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,47.678000,-122.125000,2360.000000,10083.000000
max,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,47.777600,-121.315000,6210.000000,871200.000000

In [35]:
nashville.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       21613 non-null  uint8
 1   bathrooms      21613 non-null  float64
 2   sqft_living    21613 non-null  float64
 3   sqft_lot       21613 non-null  float64
 4   floors         21613 non-null  float64
 5   waterfront     21613 non-null  uint8
 6   view           21613 non-null  uint8
 7   condition      21613 non-null  uint8
 8   grade          21613 non-null  uint8
 9   sqft_above     21613 non-null  float64
 10  sqft_basement  21613 non-null  float64
 11  yr_built       21613 non-null  float64
 12  yr_renovated   21613 non-null  float64
 13  zipcode        21613 non-null  category
 14  lat            21613 non-null  float64
 15  long           21613 non-null  float64
 16  sqft_living15  21613 non-null  float64
 17  sqft_lot15     21613 non-null  float64
 18  date_year      21613 non-null  category
 19  date_month     21613 non-null  category
 20  date_day       21613 non-null  category
dtypes: category(4), float64(12), uint8(5)
memory usage: 2.2 MB

In [38]:
nashville.tail(5)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date_year,date_month,date_day
21608,3,2.50,1530.0,1131.0,3.0,0,0,3,8,1530.0,...,2009.0,0.0,98103,47.6993,-122.346,1530.0,1509.0,2014,5,21
21609,4,2.50,2310.0,5813.0,2.0,0,0,3,8,2310.0,...,2014.0,0.0,98146,47.5107,-122.362,1830.0,7200.0,2015,2,23
21610,2,0.75,1020.0,1350.0,2.0,0,0,3,7,1020.0,...,2009.0,0.0,98144,47.5944,-122.299,1020.0,2007.0,2014,6,23
21611,3,2.50,1600.0,2388.0,2.0,0,0,3,8,1600.0,...,2004.0,0.0,98027,47.5345,-122.069,1410.0,1287.0,2015,1,16
21612,2,0.75,1020.0,1076.0,2.0,0,0,3,7,1020.0,...,2008.0,0.0,98144,47.5941,-122.299,1020.0,1357.0,2014,10,15